#!/bin/bash
export %PROJECT_NAME_UPPERCASE%_DIR="%PROJECT_DIR%"
export %PROJECT_NAME_UPPERCASE%_BASH_DIR="${%PROJECT_NAME_UPPERCASE%_DIR}/%PROJECT_NAME_LOWERCASE%-bash-scripts"
export %PROJECT_NAME_UPPERCASE%_ALIASES_DIR="${%PROJECT_NAME_UPPERCASE%_BASH_DIR}/aliases"
export %PROJECT_NAME_UPPERCASE%_BIN_DIR="${%PROJECT_NAME_UPPERCASE%_BASH_DIR}/bin"
export %PROJECT_NAME_UPPERCASE%_ENVVARS_DIR="${%PROJECT_NAME_UPPERCASE%_BASH_DIR}/envvars"
